.nav-link:hover
{
    background-color:#0082D8;
    color:white ! important;
    border-radius: 10px;
}
.navbar-brand:hover
{
 font-weight:bold;
}

.zoom:hover
{
    -webkit-transform:scale(1.2);
}
.mydivstyle:hover{
    transform:translateY(-20px);
}